.compos__container {
  padding-top: 24px;
  padding-bottom: 24px;
}
.compos__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.compos__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.3% - 8px);
  margin-right: 24px;
}
.compos__left .compos__ingredient:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .compos__left {
    justify-content: flex-start;
  }
}
.compos__product {
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.compos__product img {
  max-height: 100%;
}
@media (max-width: 768px) {
  .compos__product {
    height: 200px;
  }
}
.compos__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.3% - 8px);
}
.compos__right .compos__ingredient:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .compos__right {
    justify-content: flex-end;
  }
}
.compos__ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
  background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
  background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
  color: #fff;
}
@media (max-width: 768px) {
  .compos__ingredient {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .compos__ingredient {
    height: 75px;
    width: 75px;
  }
}