.promo__wrapper {
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 20px;
}
.promo__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .promo__video {
    display: none;
  }
}
.promo__title {
  color: #fff;
  margin-bottom: 36px;
}
.promo__content {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .promo__content {
    flex-direction: column;
  }
}
.promo__product {
  margin-bottom: 24px;
  max-height: 300px;
  margin-right: 36px;
}
.promo__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  list-style: disc;
}
.promo__item {
  color: #fff;
  font-size: 22px;
  width: 100%;
  margin-right: 0;
}
.promo__item:not(:last-child) {
  margin-bottom: 12px;
}