@import "mixins";
@import "vars";

.reviews {
  margin-bottom: 24px;
  &__wrapper {
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 20px;
    background: -webkit-linear-gradient(45deg, rgb(176, 207, 154), rgb(82, 85, 182));
    background: -moz-linear-gradient(45deg, rgb(176, 207, 154), rgb(82, 85, 182));
    background: linear-gradient(45deg, rgb(176, 207, 154), rgb(82, 85, 182));
  }
  &__content {
    color: $text;
    max-width: 500px;
    @media (max-width: 768px) {
      max-width: 350px;
    }
    @media (max-width: 470px) {
      max-width: 220px;
    }
  }
  &__photo {
    margin-bottom: 24px;
  }
  &__name {
    margin-bottom: 12px;
  }
}